<!DOCTYPE html>
<html lang="en">

<head>
 <link rel="icon" type="image/x-icon" href="https://i.ibb.co/dscHBkcc/11.webp">
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
 <title>
  SODICO EDARA
 </title>
 <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4">
 </script>
 <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js">
 </script>
 <script src="data.js">
 </script>
 <script src="vars.js">
 </script>
</head>

<body class="text-slate-900 font-sans antialiased overflow-x-hidden relative">
 <div id="app">
  <header @click="close" class="flex flex-col fixed top-0 left-0 right-0 z-50 bg-white/95 backdrop-blur-sm shadow-md border border-gray-200 h-20 md:h-30 flex justify-between items-center px-1">
   <div class="flex text-[#0088B5] items-center justify-between h-20 w-full">
    <div class="flex flex-col items-center justify-around h-full w-6/12">
    <div class="flex items-center gap-1">
     <span class="text-[18px] md:text-xl font-medium">New</span>
     <img src="https://i.ibb.co/4RpYJZWm/sodic2.webp" alt="SODIC" class="h-6 md:h-auto w-22 object-contain">
     <span class="text-[18px] md:text-xl font-medium">Sellers</span>
    </div>
    <hr class="w-full border-t border-[#0088B5] my-1" />
    <div class="flex items-center gap-1 ml-4 md:ml-8">
     <span class="text-[18px] md:text-sm opacity-80">By</span>
     <img src="https://i.ibb.co/kVjJqpkq/edara2.webp" alt="EDARA" class="h-6 md:h-auto w-22 object-contain opacity-80">
     <span class="text-[18px] md:text-sm opacity-80">Staff</span>
    </div>
   </div>
   <div class="text-[#0088B5] text-[14px] font-bold h-full flex flex-col items-center justify-around w-11/24 px-1">
    <a href="https://wa.me/201551725318" class="backdrop-blur-sm rounded-full border border-slate-300 shadow-sm active:scale-95 transition-all flex items-center justify-around text-[#0088B5] px-1 py-0.5 w-full h-5.5">
     <img src="https://img.icons8.com/?size=100&id=Jneo9ShAzJw7&format=png&color=000000" alt="WA" class="w-5 h-5 md:w-5 md:h-5">
     <span>
      01551725318
     </span>
    </a>
    <a href="https://fb.com/SODICOxEDARA" class="backdrop-blur-sm rounded-full border border-slate-300 shadow-sm active:scale-95 transition-all flex items-center justify-around text-[#0088B5] px-1 py-0.5 rounded-full w-full h-5.5">
     <img src="https://img.icons8.com/?size=100&id=z657ovoGgS2o&format=png&color=000000" alt="FB" class="w-6 h-6 md:w-4 md:h-4 mr-1">
     <span>
      SODICOxEDARA
     </span>
    </a>
    <a href="https://tinyurl.com/sodico" class="backdrop-blur-sm rounded-full border border-slate-300 shadow-sm active:scale-95 transition-all flex items-center justify-around text-[#0088B5] px-1 py-0.5 rounded-full w-full h-5.5 text-[14px]">
     <span>
      tinyurl.com/sodico
     </span>
    </a>
   </div>
   </div>
   
  </header>
  
  <div class="h-20 md:h-40">
  </div>
  <main v-if="!selectedUnit" class="pt-1">
   <div class="flex flex-wrap justify-evenly gap-1">
    <div v-for="(unit, index) in units" @click="goto(unit)" :key="unit.id" class="bg-white/90 backdrop-blur-xs rounded-xl md:rounded-[2rem] shadow-sm border border-gray-300 overflow-hidden w-20/41 flex flex-col group hover:shadow-xl transition-all duration-500 min-w-[170px] pb-1">
     <div class="relative h-[45vw] bg-gray-50 overflow-hidden">
      <img :src="unit.img1" :class="showFirstImg ? 'opacity-100' : 'opacity-0'" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 ease-in-out">
      <img :src="unit.img2" :class="!showFirstImg ? 'opacity-100' : 'opacity-0'" class="absolute inset-0 w-full h-full object-cover transition-opacity duration-1000 ease-in-out">
     </div>
     <div class="w-full h-[145px] flex flex-col items-center justify-around p-1 gap-1 overflow-hidden no-scrollbar font-bold leading-tight text-slate-700 bg-gradient-to-b from-white/50 to-transparent">
      <div v-for="(v, i) in unit.al1.slice(0, 7)" :key="i" dir="rtl" class="flex items-center justify-around w-full">
       <div v-for="(vv, ii) in v" :key="ii" dir="auto" class="whitespace-nowrap bg-white/60 backdrop-blur-sm rounded-lg border border-slate-100 py-0.5 mx-0.3 flex items-center justify-center shadow-sm w-full h-[16px] text-[11px] text-[#335599] leading-none text-center transition-transform">
        {{vv}}
       </div>
      </div>
     </div>
    </div>
   </div>
  </main>
  <main v-if="selectedUnit" class=" w-full flex flex-col items-center" name="modal">
   <div class="flex flex-col items-center w-full" @click="close">
    <div class="bg-white overflow-hidden w-full max-w-[97vw] md:max-w-[1000px] md:h-[1000px] flex flex-col md:flex-row shadow-2xl">
     <div class="flex-col items-center justify-center absolute z-3 top-26 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white px-1 py-0.5 text-center font-bold rounded" @click="copy(selectedUnit)">
      <div class="whitespace-nowrap text-[14px]">
       {{places[selectedUnit.place].en[0]}}
      </div>
      <div class="whitespace-nowrap text-[12px]">
       {{places[selectedUnit.place].en[1]}}
       {{places[selectedUnit.place].en[2]?
      "&nbsp;&nbsp;&nbsp;" + places[selectedUnit.place].en[2]:""}}
       {{places[selectedUnit.place].en[3]?
      "&nbsp;&nbsp;&nbsp;" + places[selectedUnit.place].en[3]:""}}
      </div>
     </div>
     <div class="w-full md:w-1/2 h-[185px] md:h-full relative top-8 bg-slate-100 z-2">
      <div class="flex flex-col items-center">
       <div class="w-35 h-35 bg-[#0088B5] z-1 [transform:rotate(-45deg)_skew(35deg,35deg)] relative -top-18">
       </div>
       <div class="flex items-center justify-center relative -top-31">
        <div class="w-43 h-43 bg-[#0088B5] overflow-hidden [transform:skewY(10deg)] mr-0.5">
         <img :src="selectedUnit.img1" class="w-full h-full object-cover">
        </div>
        <div class="w-43 h-43 ml-0.5 bg-[#0088B5] overflow-hidden [transform:skewY(-10deg)]">
         <img :src="selectedUnit.img2" class="w-full h-full object-cover">
        </div>
       </div>
      </div>
     </div>
     <div class="w-full h-[160px] flex flex-col p-1 gap-1 overflow-hidden font-bold leading-tight text-[12px] text-[#335599] bg-gradient-to-b from-white/50 to-transparent" @click="close">
      <div class="flex flex-row items-end justify-between w-full h-[70px] text-[16px] relative z-3 ">
      <div class="whitespace-nowrap flex items-center justify-center h-[22px] text-center rotate-[10deg]">
       {{selectedUnit.al2[0][0][1]}}
      </div>
       <div class="w-full">
       </div>
        <div class="flex items-center justify-center whitespace-nowrap h-[22px] text-center rotate-[-10deg]">
       {{selectedUnit.al2[0][0][0]}}
      
       </div>
      </div>
      <div class="flex flex-wrap gap-0.5 justify-start content-around flex-row-reverse no-scrollbar h-full">
       <div v-for="(v, i) in selectedUnit.al2.slice(1)" :key="i" dir="rtl" class="flex items-center justify-around w-full">
        <div v-for="(vv, ii) in v" :key="ii" dir="rtl" class="flex items-center justify-around w-full">
         <span v-if="ii == 1">
          &nbsp;&nbsp;
         </span>
         <div v-for="(vvv, iii) in vv" :key="iii" dir="auto" class="whitespace-nowrap bg-white/60 backdrop-blur-sm rounded-lg border border-slate-100 py-0.1 mx-0.5 flex items-center justify-center shadow-sm w-full h-[19px] leading-none text-center transition-transform">
          {{vvv}}
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="flex justify-between items-center py-0.3 px-1 rounded-xl bg-slate-50/80 border border-slate-200 shadow-inner text-[12px] text-[#335599] flex-row-reverse mb-033 mx-2">
      <div class=" text-[10px]">
       {{selectedUnit.date}}
       #{{selectedUnit.id}}
      </div>
      <div class="flex font-bold flex-row-reverse">
       &nbsp;&nbsp;
       {{selectedUnit.tel??""}}
      </div>
     </div>
    </div>
   </div>
   <div class="flex justify-around w-full">
    &nbsp;&nbsp;
    <a v-if="selectedUnit.phone" :href="`https://wa.me/2${selectedUnit.phone}`" class="mt-4 transition-all flex items-center justify-around border-[#0088B5] border-1 text-[#0088B5] px-1 py-0.5 rounded-full shadow-sm w-full h-10">
     <img src="https://img.icons8.com/?size=100&id=Jneo9ShAzJw7&format=png&color=000000" alt="WA" class="w-6 h-6 md:w-4 md:h-4">
     <span class="whitespace-nowrap text-[14px] md:text-lg font-bold tracking-tight text-center">
      WhatsApp Owner
     </span>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a :href="selectedUnit.url" class="mt-4 transition-all flex items-center justify-around border-[#0088B5] border-1 text-[#0088B5] px-1 py-0.5 rounded-full shadow-sm w-full h-10">
     <img src="https://img.icons8.com/?size=100&id=z657ovoGgS2o&format=png&color=000000" alt="WA" class="w-8 h-8 md:w-4 md:h-4">
     <span class="whitespace-nowrap text-[14px] md:text-lg font-bold tracking-tight text-center">
      Facebook Owner
     </span>
    </a>
    &nbsp;&nbsp;
   </div>
  </main>
 </div>
 <script>
  function gett(lines, getx) {
   let gettx = undefined;
   let dateIndex = lines.findIndex(line => line.trim().startsWith(getx));
   if (dateIndex !== -1) {
    gettx = lines.splice(dateIndex, 1)[0];
   }
   return { lines: lines, getx: gettx };
  }
  let last_date = '';
  let nn = 2;
  let ssss = 0;
  dd = dd.replace(/[٠-٩]/g, (d) => d.charCodeAt(0) - 1632);
  dd = dd.split(',,,')
   .map(block => {
    ssss = ssss + 1;
    let last_nn = nn;
    let lines = block.split('\n').map((line) => line.trim());
    nn = nn + lines.length - 1;
    last_date = gett(lines, '20').getx ?? last_date;
    let url = gett(lines, 'https://www.facebook.com/share/').getx;
    let img1 = gett(lines, 'https://i.ibb.co/').getx;
    let img2 = gett(lines, 'https://i.ibb.co/').getx;
    lines = lines.map((line) => {
     rep.forEach(([p, r]) => {
      line = line.replace(p, r);
     });
     return line;
    });
    let phone = lines.join('').replace(/\D/g, '').match(/01\d{9}/)?.[0];
    
    
    
    const superMap = { '⁰': '0', '¹': '1', '²': '2', '³': '3', '⁴': '4', '⁵': '5', '⁶': '6', '⁷': '7', '⁸': '8', '⁹': '9' };

const getVal = (str) => {
    const m = str.match(/[⁰¹²³⁴⁵⁶⁷⁸⁹]+/g);
    return m ? parseInt([...m.at(-1)].map(c => superMap[c]).join('')) : null;
};

const grouped = lines.reduce((acc, line) => {
    const v = getVal(line);
    if (v !== null) {
        acc[v] = (acc[v] || []).concat(line.replace(/[⁰¹²³⁴⁵⁶⁷⁸⁹]/g, '').trim().split('-').map(ma=>ma.trim()));
    }
    return acc;
}, {});

const notes = Object.keys(grouped)
    .sort((a, b) => a - b)
    .map(k => grouped[k]);


    
    
    
    
    let prop = props.findIndex(item => item.key.some(k => lines.join(' ').toLowerCase().includes(k.toLowerCase())));
    let place = places.findIndex(item => item.key.some(k => lines.join(' ').toLowerCase().includes(k.toLowerCase())));
    let sale = !["ايجار", "rent"].some(key => block.toLowerCase().includes(key));
    let price = lines.find(s => s.startsWith('$') || s.endsWith('$'))?.replace(/\D/g, '')?.replace(/.+/g, m => Number(m).toLocaleString('en-US'));
    let notes2 = [];
    for (let i = 0; i < notes.length; i += 2) {
     notes2.push(notes.slice(i, i + 2))
    }
    let placerev = places[place].en_edit.map(el => el.toReversed());
    return {
     url: url,
     img1: img1,
     img2: img2,
     id: last_nn,
     ss: ssss,
     date: last_date,
     sale: sale,
     price: price,
     phone: phone,
     tel: phone ?
      '📞 Call Owner : ' + phone : undefined,
     prop: prop,
     place: place,
     notes: notes,
     block: block,
     al1: [
      [
       props[prop].en,
       ...(price ? [price] : [(sale ? 'For Sale' : 'For Rent')]),
      ],
      ...placerev,
      ...notes,
     ],
     al2: [
      [
       [
        ...(price ? [price] : []),
        props[prop].en,
        (sale ? 'For Sale' : 'For Rent'),
       ]
      ],
      ...notes2,
     ],
    };
   });
  dd.sort((a, b) => b.id - a.id);
  dd.sort((a, b) => b.date.localeCompare(a.date));
  const { createApp, onMounted, reactive, ref } = Vue;
  createApp({
   setup() {
    const selectedUnit = ref(null);
    let currentSearch = window.location.search;
    let scrol = currentSearch.startsWith('?') ? searchString.substring(1).split('--')[1] : 0;
    const close = () => {
     currentSearch = window.location.search;
     scrol = currentSearch.startsWith('?') ?
      currentSearch.substring(1).split('--')[1] : scrol;
     const newUrl = window.location.pathname;
     history.pushState({ path: newUrl }, '', newUrl);
    }
    const showFirstImg = ref(true);
    const copy = (x) => {
     const phoneSection = x.phone ?
      `
📞 Call Owner : ${x.phone}

WhatsApp Owner 👇
https://wa.me/2${x.phone}/
` : "";
     navigator.clipboard.writeText(`For ${x.sale?"Sale":"Rent"} ${props[x.prop].en} #SODIC${x.sale ? " Resale" : ""} ${places[x.place].en.join(" ")}
${x.sale?"للبيع":"للايجار"} ${props[x.prop].ar} #سوديك ${places[x.place].ar.join(" ")}
${phoneSection}
Facebook Owner 👇
${x.url}`);
    };
    const units = ref([]);
    units.value = dd;
    const goto = (x) => {
     const newUrl = window.location.pathname + '?' + x.id + '--' + window.scrollY;
     history.pushState({ path: newUrl }, '', newUrl);
    }
    onMounted(() => {
     setInterval(() => {
      showFirstImg.value = !showFirstImg.value;
     }, 3000);
     setInterval(() => {
      currentSearch = window.location.search;
      const unitId = currentSearch.startsWith('?') ? currentSearch.substring(1).split('--')[0] : null;
      if (unitId && selectedUnit.value == null) {
       scrol = currentSearch.startsWith('?') ?
        currentSearch.substring(1).split('--')[1] : scrol;
       setTimeout(() => {
        window.scrollTo({
         top: scrol,
         behavior: 'smooth'
        });
       }, 100);
      }
      if (!unitId && selectedUnit.value !== null) {
       selectedUnit.value = null;
       scrol = currentSearch.startsWith('?') ?
        currentSearch.substring(1).split('--')[1] : scrol;
       setTimeout(() => {
        window.scrollTo({
         top: scrol,
         behavior: 'smooth'
        });
       }, 100);
      }
      if (unitId && (selectedUnit.value === null || selectedUnit.value.id != unitId)) {
       const found = units.value.find(item => item.id == unitId);
       if (found) {
        selectedUnit.value = found;
       }
      }
     }, 100);
    });
    return { showFirstImg, units, selectedUnit, close, goto, copy, places, props };
   }
  }).mount('#app');
 </script>
</body>

</html>